# Invalid custom reward format
[ACTIONS]
L
R
U
D

[REWARDS]
DEFAULT = -1
1,4-D = 0    # Goal from the top
2,3,R = 0    # Invalid custom reward format using ',' instead of '-'
3,4-U = 0    # Goal from the bottom

[TRANSITIONS]
# Not used for now
# In future, allow to define custom transitions instead of using derived ones